<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteios</title>
</head>
<body>
    <p>Sorteio</p>
    <form action="{% url 'participar_sorteio' %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="text" name="cidade" placeholder="Cidade" required>
        <input type="text" name="telefone" placeholder="Telefone" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Participar</button>
    </form>
</body>
</html>